* {
  --error-50: #f8eaea;
  --error-100: #f8dbdb;
  --error-200: #f5caca;
  --error-300: #f5bbbb;
  --error-400: #f2abab;
  --error-500: #f09b9b;
  --error-600: #f08c8c;
  --error-700: #ed7b7b;
  --error-800: #ed6c6c;
  --error-900: #ea5b5b;
  --success-50: #eff4ec;
  --success-100: #e6f0e0;
  --success-200: #dae9d1;
  --success-300: #d1e4c5;
  --success-400: #c5deb6;
  --success-500: #bad8a8;
  --success-600: #b1d39c;
  --success-700: #a5cc8d;
  --success-800: #9cc881;
  --success-900: #90c172;
  --alert-50: #f8f3e5;
  --alert-100: #f8edd1;
  --alert-200: #f5e5bb;
  --alert-300: #f5dfa7;
  --alert-400: #f2d891;
  --alert-500: #f0d17b;
  --alert-600: #f0cb67;
  --alert-700: #edc351;
  --alert-800: #edbd3d;
  --alert-900: #eab527;
  --black-50: #f0f3f7;
  --black-100: #e0e4ea;
  --black-200: #d3d8de;
  --black-300: #cdd2da;
  --black-400: #b8bdc4;
  --black-500: #898e97;
  --black-600: #64676d;
  --black-700: #45484c;
  --black-800: #2e2f31;
  --black-900: #000000;
}
