.datatable-with-collapse {
  .datatable-wrapper {
    padding: 0;

    .tr-mobile {
      display: grid;
      grid-template-columns: auto auto;

      :nth-child(2n) {
        &.td-actions {
          display: flex;
          justify-content: right;
          width: 100%;
        }

        .dropdown-content {
          left: auto;
          right: 0;
        }
      }
    }
    .dropdown {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .tr-parent-dropdown {
      &.is-open {
        background-color: rgba(0, 0, 0, 0.05);
      }

      > td {
        height: 75px;
        .td-text {
          &.clamp-line {
            &.not-group {
              background: var(--light-color);
              border-radius: 50px;
              padding: 7px 32px;
              width: 170px;
              p {
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                color: var(--text-dark);
              }
            }
          }
        }
      }
    }

    .tr-dropdown {
      .td-dropdown {
        padding: 0;
      }

      .tr-dropdown-content {
        background-color: rgba(0, 0, 0, 0.03);
        max-height: 500px;
        padding-left: 36px;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        /* Ocultar barra de rolagem em navegadores baseados em WebKit */
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari e Edge */
        }
      }

      &:not(.is-open) {
        .td-dropdown {
          border: none;
        }
      }
    }

    &.details {
      .th {
        padding-bottom: 0;
        font-size: 1.4em;
      }

      td {
        height: 75px;
      }

      .not-subcategory {
        height: 70px;
      }

      .datatable-inner .datatable {
        margin: 15px 0 0;

        th:first-of-type,
        td:first-of-type {
          font-size: 16px;
          padding-left: 10px;
        }

        tbody:not(:last-child) {
          tr td {
            border-bottom: 1px solid var(--generic-dark-border-color);
          }
        }
      }
    }


    .btn-flat {
      font-size: 1.2em;
      text-wrap: nowrap;
    }

    @media screen and (max-width: 1023px) {
      .tr-mobile {
        border-bottom: 1px solid var(--generic-dark-border-color);
      }

      &.details {
        td {
          height: unset;
        }

        .datatable-inner .datatable {
          margin: 15px 0 0;

          th:first-of-type,
          td:first-of-type {
            padding-left: 0;
          }

          tbody {
            &:not(:last-child) {
              tr td {
                border: 0;
              }
            }

            tr {
              padding: 0 10px;
            }
          }
        }
      }

      .btn-flat {
        font-size: 1.2em;
        padding: 10px 0;
      }
    }
  }
}
