.classroom-panel {
  .questions {
    background-color: var(--surface-0);
    margin-top: 2em;
    padding: 8px;

    &__wrapper {
      position: relative;
      margin-top: 2em;
    }

    &__card {
      border: 1px solid var(--disabled-color);
      border-radius: 8px;
      padding: 17px 14px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &__header {
        display: flex;
        justify-content: space-between;
      }

      &__date p {
        font-family: var(--font-family);
        color: var(--black-700);
        margin-bottom: 9px;
      }

      &__status span {
        font-family: var(--font-family);
        text-transform: uppercase;
        color: var(--black-700);
      }

      &__body {
        display: flex;
        justify-content: space-between;
        height: 36px;
        h2 {
          font-family: var(--font-family);
          font-size: 1.8em;
        }
      }
    }

    .empty-message {
      margin-top: 5%;
      margin-bottom: 6em;
      h2 {
        margin-bottom: 0;
        font-size: 1.8em;
        color: var(--primary-color);
      }
      p {
        font-size: 1.6em;
      }
    }
  }
}