.DS_Store
node_modules
dist/
!dist/modernizr.js
yarn-error.log
npm-debug.log
/.idea
/.npm
.bash_history
*.tsv
/.cache/yarn
/.yarn
/.gnupg
/.bash_profile
/.env
.directory
/src/configs.json
/**/*.map
config/
coverage
public/webviewer/public