.simple-counter__container {
  p {
    padding: 0
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    min-width: 40px;
    max-width: min-content;
    background-color: var(--alert-900);
    border-radius: 50%;
    padding: 0 5px;
    font-weight: bold;
    color: var(--black-700);
  }

  &.small {
    span {
      min-width: 25px;
    }
  }
}