.input-message {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--error-900);

  &__feedback {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
  }
}
