.session-team {
  background-color: var(--surface-200);
  border-radius: 8px;
  padding: 20px;
  width: calc(100% + 40px);
  margin-left: -20px;

  &__button-submit-responsible {
    &.btn {
      margin-top: 12px;
      .text {
        padding-right: 10px;
      }

      .icon-wrapper {
        margin-bottom: 3px;
      }
    }

    &.btn-primary {
      color: var(--primary-color);
      border: 1px solid var(--primary-color);

      &:hover {
        color: var(--text-color);
        border-color: var(--primary-500);
      }
    }
  }

  .is-autocomplete .form-input-append {
    z-index: 5;

    > span:first-child {
      display: none;
    }
  }

  .form-group {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: flex-start;

    .form-item {
      width: unset;
      flex-grow: 0;
    }

    .form-item:first-child {
      width: 220px;
      flex-shrink: 0;
    }
  }

  .empty-message {
    margin: 0;
  }

  @media screen and (max-width: 660px) {
    .form-group {
      flex-direction: column;
      .form-item:first-child,
      .form-item {
        width: 100%;
      }
    }
  }
}

