.daily-action-item {
  margin-bottom: 16px;

  .card {
    padding: 48px 24px 16px 24px;
    border: 1px solid #00000040;
    border-radius: 8px;
    position: relative;

    .content-title,
    .date-refenrence,
    .tags {
      span {
        font-size: 12px;
      }
    }

    &.dispatched {
      outline: 1px solid var(--primary-color);
      border-color: var(--primary-color);
    }
  }

  .btn {
    &__group {
      position: absolute;
      top: 0;
      right: -40px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;

      .form-input-messages-container {
        line-height: unset;
        padding: 5px;
        width: fit-content;

        .icon-wrapper {
          position: relative;
        }
      }
    }

    &__toggle-hidden {
      transition: transform 0.3s;
      position: absolute;
      right: 18px;
      top: 15px;
      z-index: 9;
      padding: 0;
      height: auto;

      &.is_hide {
        transform: rotate(180deg);
      }
    }
  }

  .message-wrapper {
    margin-top: 15px;
    padding: 0 15px;
    display: flex;
    gap: 5px;
    font-size: .75rem;
    color: var(--primary-color);
  }

  @media (max-width: 590px) {
    .btn__group {
      left: 10px;
      right: unset;
      flex-direction: row;

      .form-input-messages-container {
        margin-top: 5px;
      }
    }
  }
}
