.accordion-item {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--surface-border);
  transition: opacity 100ms ease;
}

.accordion-header {
  margin-bottom: 20px;
}

.accordion-header-text {
  display: inline-block;
  vertical-align: middle;
  font-family: var(--font-family);
  font-size: 1.6em;
  font-weight: bold;
  color: var(--text-color);
  text-transform: uppercase;
  line-height: 20px;
}

.accordion-item-header {
  position: relative;
  cursor: pointer;
  padding: 15px 45px 15px 0;
}

.accordion-item.is-disabled .accordion-item-header {
  cursor: default;
}

.accordion-item-title {
  font-family: var(--font-family);
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.accordion-item-header .loading {
  position: absolute;
  top: 50%;
  right: 60px;
  margin-top: -15px;
}

.accordion-item-header-icon {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 400ms;
}

.accordion-item-content {
  transition: height 400ms;
}

.accordion-item-content-inner {
  padding: 15px 20px;
}

.accordion-empty {
  padding: 50px 0;
  color: var(--text-color);
}

.accordion-empty p {
  margin-bottom: 0;
}

.accordion-actions {
  margin-left: -5px;
}

.accordion-item.is-disabled {
  opacity: 0.5;
  user-select: none;
}

.accordion-item.is-open .accordion-item-header-icon {
  transform: rotate(180deg);
}

.theme-dark.accordion-card {
  .accordion-item-title,
  .accordion-header-text {
    color: var(--text-color);
  }
  .accordion-item-header-icon {
    color: var(--text-color);
  }
}

