.filter-toggle-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;

  .btn-icon {
    display: grid;
    place-items: center;

    .icon {
      width: 20px;
      height: 17px;
    }

    .icon {
      fill: var(--black-500);
      transition: fill .2s ease-in;
    }

    &.active {
      .icon {
        fill: var(--primary-color);
      }
    }

    &.disabled {
      opacity: .5;
    }
  }
}
