.modalv2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.8);
  z-index: 999;
  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: {
      top: 400px;
      bottom: 400px;
    }
  }
}