.text-editor-ia {
  position: relative;

  .tag-validator {
    color: var(--alert-700);
    font-size: 1.2em;
  }

  &__input {
    border-radius: 8px;

    .form-item-tools {
      display: flex;
    }

    .tag-selector {
      width: 100%;
      border: none;
      background-color: var(--gray);
    }

    background-color: var(--black-50);

    .ql-clean {
      display: none;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 12px;
      transform: rotate(90deg);
      color: var(--black-500);
      margin: 8px;

      &.--active {
        color: var(--secondary-color);
      }
    }
  }

  .ia-settings {
    position: absolute;
    right: 0;
    top: 13px;
    right: 17px;
    cursor: pointer;
    z-index: 10;
    background-color: var(--gray);
    height: 40px;
    width: 40px;
    margin: 8px;
  }

  &__float-menu {
    left: 1px;
    top: 160px;
    z-index: 10;
    width: 340px;
    padding: 2em 1em 2em 1em;
    background: var(--surface-0);
    box-shadow: 0px 20px 40px var(--black-500);
    border-top: 6px solid var(--secondary-color);
    border-radius: 8px;
    position: absolute;
    margin-bottom: 120px;

    h3 {
      font-size: 1.4em;
      margin: 0 0 0 8px;
      padding: 8px 0;
      color: var(--black-500);
    }

    ul {
      li {
        color: var(--black-500);
        display: flex;
        border-radius: 8px;
        align-items: center;
        position: relative;
        gap: 12px;
        cursor: pointer;
        font-size: 1.6em;
        padding: 4px 8px;
        height: 32px;
        &:hover {
          background-color: var(--gray);
        }
        svg {
          color: var(--secondary-color);
        }

        .submenu-icon {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .float-menu-options {
    position: relative;
    &__submenu {
      position: absolute;
      box-shadow: 0px 20px 40px var(--black-500);
      padding: 4px 8px;
      left: 100%;
      background: var(--surface-0);
      width: 175px;
      border-radius: 8px;

      li {
        font-size: 16px;
      }
    }
  }

  .text-editor-ia__input {
    .form-editor {
      padding: 0px 30px 0px 12px;

      .ql-editor {
        padding: 0;
      }

      .span-tag {
        color: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 1023px) {
    &__float-menu {
      width: auto;
      left: -2em;
    }
  }
}

.--hide-ai-undo {
  .text-editor-ia {
    .ai-Undo {
      display: none;
    }
  }
}