.inner-content {
  &.library-classroom {
    > .center {
      padding: 0 32px;
    }

    > .filter {
      margin: 15px 0;
    }
  }

  .library-actions-wrapper {
    padding-top: 1px;
    margin: 0 0 40px;
  }

  .action-submenu {
    .btn-secondary {
      &.is-small {
        min-width: 130px;
        height: 30px;
      }
    }
  }

  .datatable tr td.td-actions {
    text-align: right;
  }
}

.empty-classroom-library {
  margin-block: 40px;

  h1 {
    padding-bottom: 10px;
  }
}

.library-classroom {
  .filter-type {
    margin-bottom: 20px;
  }

  .filter-list-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .breadcrumbs {
    min-height: 40px;
  }
}

.library-empty-feedback {
  color: var(--alert-900);
}

.library-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 40px;
}

.library-list .card-media {
  width: 220px;
}

.datatable {
  tr {
    td {
      &.file-icon {
        color: var(--black-500);
      }

      &.td-actions {
        text-align: right;
      }

      .datatable-wrapper {
        position: relative;
        margin: 0;
        padding: 0 0 0 60px;

        &::before {
          content: '';
          position: absolute;
          top: 3px;
          left: 29px;
          display: block;
          width: 1px;
          height: calc(100% - 3px);
          background-color: var(--primary-color);
        }
      }
    }

    &.is-folder {
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .area-click {
        cursor: pointer;
      }

      td {
        &.file-icon {
          color: var(--primary-color);
        }
      }
    }

    &.is-open {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }

    .arrow-icon {
      color: var(--primary-500);
      transition: all 0.3s ease;
    }
  }
}

.wrapper-filter {
  text-align: right;
  width: 100%;
}

.library__breadcrumbs.breadcrumbs {
  padding: 18px 18px 0px 18px;

  .breadcrumbs__item {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 1.2em;
  }
  &.__separator {
    .icon {
      color: var(--black-700);
      position: initial;
      transform: none;
    }
  }
  .icon-wrapper {
    margin: 0 10px;
  }
  .--highlight {
    color: var(--primary-color);
  }
}

.library-list .card-media {
  width: 220px;
}

.card-media-content {
  padding: 10px;
}

.card-media__footer {
  padding: 10px 0;
}

@media screen and (max-width: 1023px) {
  .library-list {
    gap: 20px;
  }

  .library-list .card-media {
    width: calc(100% / 2 - 20px);
    min-width: 220px;
  }

  .library {
    .filter-type {
      margin-bottom: 0px;
    }

    .filter-list-center {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .library-list {
    gap: 20px;
  }

  .library-list .card-media {
    width: 100%;
  }

  .library-modal-wrapper-footer {
    flex-direction: column;
  }
}
