.flag-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  background: var(--primary-color);
  padding: 8px 20px 8px 10px;
  clip-path: polygon(100% 0, 100% 10%, 94% 50%, 100% 90%, 100% 100%, 0 100%, 0 0);
  border-radius: 0px 8px 8px 0;

  &__area {
    display: flex;
    align-items: center;

  }

  &__title {
    margin-left: 4px;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--text-contrast-primary-color);
    display: inline-block;
  }
}
