.like-container {
  display: inline-block;
  vertical-align: middle;

  .btn .number {
    right: unset;
    left: 25px;
    top: -5px;
  }

  .like-label {
    font-family: var(--font-family);
    letter-spacing: 0.8px;
    text-transform: uppercase;

    span:nth-child(2) {
      color: var(--primary-color);
    }
  }
}

.btn-like {
  color: rgba(0, 0, 0, 0.25);
  margin-right: 10px;

  .number {
    background-color: var(--black-200);
    color: var(--primary-color);
  }
}

.btn-like.is-active,
.btn-like:hover,
.btn-like:focus {
  color: var(--primary-color);
}


.like-container.theme-dark .btn-like {
  color: var(--text-color);
}

.like-container.theme-dark .btn-like:hover,
.like-container.theme-dark .btn-like:focus {
  color: var(--primary-color);
}

.like-container.theme-dark .btn-like.is-active {
  color: var(--primary-color);
}

@media screen and (max-width: 1023px) {
  .like-container {
    .btn .number {
      right: unset;
      left: 25px;
      top: -5px;
    }
  }
}

