.datatable__doubts {
  position: relative;

  .datatable {
    .doubts-dont-answer {
      margin-right: 2px;
    }
    .new-doubts {
      .td {
        background-color: var(--surface-0);
      }

      .td:first-of-type {
        border-radius: 6px 0 0 6px;
      }

      .td:last-of-type {
        border-radius: 0 6px 6px 0;
      }
    }

    .th:first-of-type,
    .td:first-of-type {
      padding-left: 10px;
    }

    .td {
      height: 74px;
    }

    .th,
    .td {
      vertical-align: middle;
      padding-right: 30px;
    }
  }
}

.management-doubts__table {
  --width: 100%;

  .datatable {
    width: var(--width);

    .clamp-line {
      overflow: hidden;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    th .clamp-line {
      height: 40px;
    }

    .td-text {
      line-height: 1.8em;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .datatable-wrapper {
    padding-bottom: 4px;

    .tr-mobile {
      display: grid;
      grid-template-columns: auto auto;

      .td:first-of-type,
      .td:last-of-type,
      .td {
        border-radius: 0;
      }

      .td {
        padding: 10px;
      }

      :nth-child(2n) {
        &.td-actions {
          display: flex;
          justify-content: right;
          width: 100%;
        }

        .dropdown-content {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

@media (min-width: 921px) and (max-width: 1220px) {
  .datatable__doubts .datatable {
    .th,
    .td {
      padding-right: 20px;
    }

    .th:nth-child(4),
    .td:nth-child(4) {
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .datatable__doubts .datatable {
    .th,
    .td {
      padding-right: 20px;
    }

    .td .btn .text {
      font-size: 14px;
      padding-top: 9px;
    }

    .td.td-actions .dropdown .icon {
      margin-top: 15px;
    }

    .td:last-child {
      padding-right: 0px;
    }

    .td-text {
      line-height: 1.4em;
    }
  }

  .management-doubts__table .td-actions {
    position: static;

    .dropdown {
      width: fit-content;
      display: block;
    }
  }
}
