.settings.branches {
  .branches-navigation {
    width: 100%;
    margin: 30px 0;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: var(--surface-border);
    border-radius: 12px;

    .breadcrumbs {
      max-width: 70%;
    }
  }
}
