.datatable__evaluations {
  position: relative;

  .datatable {
    .tr-body .icon-wrapper {
        height: auto;
      }

    .th,
    .td {
      vertical-align: middle;
      padding-right: 30px;
    }

    .th:nth-child(4),
    .td:nth-child(4) {
      padding-right: 20px;
    }
  }

  .floating-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    z-index: 10;

    .empty-head,
    .action {
      width: 75px;
      height: 58px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      box-sizing: content-box;
    }

    .action {
      margin: 2px 0;
    }
  }
}

.management-evaluations__table {
  --width: 100%;

  .datatable {
    width: var(--width);

    .th:last-child {
      padding-right: 0;
    }

    .clamp-line {

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    th .clamp-line {
      font-weight: bold;
      color: var(--black-500);
      height: 40px;
    }

    .td-text {
      line-height: 1.8em;
      margin-top: auto;
      margin-bottom: auto;
    }

    .teste-td-aluno{
      color: var(--black-700);
      font-weight: bold;
      line-height: 1.8em;
      margin-top: auto;
      margin-bottom: auto;
    }

    .btn-evaluation {
      color: var(--bg-header-admin);
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black-500);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black-700);
  }

  .datatable-wrapper {
    overflow-x: auto;
    padding-bottom: 4px;

    .tr-mobile {
      display: grid;
      grid-template-columns: auto auto;

      :nth-child(2n) {
        &.td-actions {
          display: flex;
          justify-content: right;
          width: 100%;
        }

        .dropdown-content {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

@media (min-width: 921px) and (max-width: 1220px) {
  .datatable__evaluations .datatable {
    .th,
    .td {
      padding-right: 20px;
    }

    .th:nth-child(4),
    .td:nth-child(4) {
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .datatable__evaluations .datatable {
    .th,
    .td {
      padding-right: 20px;
    }


    .td.td-actions .dropdown .icon {
      margin-top: 15px;
    }

    .td:last-child {
      padding-right: 0px;
    }

    .td-text {
      line-height: 1.4em;
    }
  }

  .management-evaluations__table .td-actions {
    position: static;

    .dropdown {
      width: fit-content;
      display: block;
    }
  }
}