.spinner-svg {
  width: 100px;
  ellipse {
    fill: var(--secondary-color);
  }
  #ellipse-1 {
    animation: ellipse-1__kf 1000ms linear infinite normal forwards;
  }
  #ellipse-2 {
    animation: ellipse-2__kf 1000ms linear infinite normal forwards;
  }
  #ellipse-3 {
    animation: ellipse-3__kf 1000ms linear infinite normal forwards;
  }
  #ellipse-4 {
    animation: ellipse-4__kf 1000ms linear infinite normal forwards;
  }
  #ellipse-5 {
    animation: ellipse-5__kf 1000ms linear infinite normal forwards;
  }
  @keyframes ellipse-1__kf {
    0% {
      transform: translate(300px, 300px) rotate(0deg);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    100% {
      transform: translate(300px, 300px) rotate(360deg);
    }
  }
  @keyframes ellipse-2__kf {
    0% {
      transform: translate(300px, 300px) rotate(0deg);
      animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
    }
    100% {
      transform: translate(300px, 300px) rotate(360deg);
    }
  }
  @keyframes ellipse-3__kf {
    0% {
      transform: translate(300px, 300px) rotate(0deg);
      animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }
    100% {
      transform: translate(300px, 300px) rotate(360deg);
    }
  }
  @keyframes ellipse-4__kf {
    0% {
      transform: translate(300px, 300px) rotate(0deg);
      animation-timing-function: cubic-bezier(0.2, 0, 1, 1);
    }
    100% {
      transform: translate(300px, 300px) rotate(360deg);
    }
  }
  @keyframes ellipse-5__kf {
    0% {
      transform: translate(300px, 300px) rotate(0deg);
      animation-timing-function: cubic-bezier(0.465, 0.415, 0.855, 0.99);
    }
    100% {
      transform: translate(300px, 300px) rotate(360deg);
    }
  }
}

